<%= content_for :breadcrumbs do %>
  Data &gt;
  Destinations
<% end %>
<div class="toolbar">
  <ul class="actions">
  	<li>
			<%= form_for( @search, :url => admin_destinations_path ) do |f| %>
  		<%= f.label :description_title_contains, "Title" %> <%= f.text_field :description_title_contains, :size => 15 %> &nbsp;
  		<%= button 'Search' %>
			<% end %>
  	</li>
    <li>
    	<%= button_link_to 'New Destination', 'destinations/new', {:icon => 'add', 'data-remote' => true} %>
    </li>
  </ul>
  <br class="clear">
</div>

<div id="edit_div" class='dialog-normal'></div>

<div class='data-pager'>
<%= will_paginate(@collection) %>
</div>
<table class="data-list" id="list_destinations">
  <thead>
  <tr>
    <th><%= t("id") %></th>
	<th><%= t("title") %></th>
	<th><%= t("title_cn") %></th>
	<th><%= t("city")%></th>
	<th><%= t("status")%></th>
  <th>operate</th>
  </tr>
</thead>
<% @collection.each do |d| %>
	<%= render :partial => 'row', :locals => {:obj => d} %>
<% end %>
</table>
<%= will_paginate(@collection) %>

