<%= form_for( [:admin, @object], :remote => true) do |f| %>
  <div class="container">
  	<div class='span-8'>
	  <%= f.field_container :name do %>
	  	<%= f.label :name %><br />
	  	<%= f.text_field :name %>
	  <% end %>
	  <%= f.field_container :bus_type do %>
	  	<%= f.label :bus_type %><br />
	  	<%= f.text_field :bus_type %>
	  <% end %>
	  <%= f.field_container :seats do %>
	  	<%= f.label :seats %><br />
	  	<%= f.text_field :seats %>
	  <% end %>
	  </div>
	  <div class='span-8 last'>
	  <%= f.field_container :plate_number do %>
	  	<%= f.label :plate_number %><br />
	  	<%= f.text_field :plate_number %>
	  <% end %>
	  <%= f.field_container :vin_number do %>
	  	<%= f.label :vin_number %><br />
	  	<%= f.text_field :vin_number %>
	  <% end %>
	  <%= f.field_container :inspection_date do %>
	  	<%= f.label :inspection_date %><br />
	  	<%= f.text_field :inspection_date %>
    <% end %>
	  <%= render :partial => 'admin/shared/status', :locals => {:f => f} %>  
    </div>   
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
