<%= form_for( [:admin, @object], :remote => true) do |f| %>
<!-- the tabs -->
<ul class="tabs">
	<li><a href="#">Description</a></li>
	<li><a href="#">Attributes</a></li>
	<li><a href="#">Prices</a></li>
</ul>
 
<!-- tab "panes" -->
<div class="panes">
  <div style='height:250px;'>
	<%= render :partial => 'admin/shared/description', :locals => {:f => f} %>
  </div>
  <div style='height:250px;'>
  <div class="container">
  	<div class='span-8'>
      <%= f.label :tour_type %><br />
      <%= f.select :tour_type, InputType.get_list('tour').map{|t| [t.type_text, t.type_value]}, {}, :class => 'data-field' %>
	  </div>
	  <div class='span-8 last'>
	  <%= f.field_container :days do %>
	  	<%= f.label :days %><br />
	  	<%= f.text_field :days %>
	  <% end %>
	  </div>
	</div>
	<%= render :partial => 'tour_setting', :locals => {:f => f} %>
  </div>
  <div style='height:250px;'>
	<%= render :partial => 'tour_price', :locals => {:f => f} %>
	<%= render :partial => 'admin/shared/status', :locals => {:f => f} %>	
  </div>
</div>
<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
