<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class="toolbar">
  <ul class="actions">
    <li>
    <%= button_link_to 'New Tour', 'tours/new', {:remote => true, :icon => 'add', :id => 'admin_new_tour'} %>
    </li>
    <li>
    <%= button_link_to 'Refresh icons', 'tours/refresh_icons', {:icon => 'add', :id => 'admin_refresh_icons'} %>
    </li>
  </ul>
  <div class='clear'></div>
</div>

<div class='crumb'>
  <%= link_to '<< Back', 'javascript:history.go(-1)' %> |
  <%= link_to 'Tours', admin_tours_path %> &gt;
  Tours icon
</div>

<div class='clear'></div>
<div class='tours'>
<% @tours.each do |t| %>
  <div class="tour">
    <div class='tour-icon'>
      <%= image_tag t.title_photo.photo_t if t.title_photo %>
    </div>
    <div class='tour-info'>
      <div class="tour-name">
        <a href='/admin/tours/<%=  t.id %>/spots'>
                <%=t.title %> <%= t.days %>
            </a>
      </div>
      <div class="price">Price: $<%=t.tour_price.price_adult if t.tour_price%></div>
    </div>
  </div>
<% end %>
  <div class='clear'></div>
</div>

<div id="edit_div" class='dialog-normal'></div>
