<%= form_for( [:admin, @object], :remote => true) do |f| %>
  <div class="container">
  	<div class='span-8'>
	  <%= f.field_container :company_id do %>
	  	<%= f.label :company_id %><br />

			<%= f.select :company_id, Company.all.map { |c| [c.short_name, c.id] }, {}, :class => 'data-field' %>

	  <% end %>
	  <%= f.field_container :nickname do %>
	  	<%= f.label :nickname %><br />
	  	<%= f.text_field :nickname %>
	  <% end %>
	  <%= f.field_container :employ_date do %>
	  	<%= f.label :employ_date %><br />
	  	<%= f.text_field :employ_date %>
	  <% end %>
	  </div>
	  <div class='span-8 last'>
	  <%= f.field_container :ssn do %>
	  	<%= f.label :ssn %><br />
	  	<%= f.text_field :ssn %>
	  <% end %>
	  <%= f.field_container :birthday do %>
	  	<%= f.label :birthday %><br />
	  	<%= f.text_field :birthday %>
	  <% end %>
    <%= f.field_container :roles do %>
      <%= f.label :roles %><br />
      <%= f.hidden_field :roles %>
      <% InputType.get_list('roles').each do |role| %>
        <%= check_box_tag "role[#{role.type_text}]", role.type_value, @object.roles && @object.roles.include?(role.type_value), {:id => dom_id(role), :onchange => 'roles_changed();'} %>
        <%= label_tag dom_id(role), role.type_text %>
      <% end %>
    <% end %>
		<%= render :partial => 'admin/shared/status', :locals => {:f => f} %> 
	 	</div>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
