<%= content_for :head do %>
  <script type='text/javascript'>
    function roles_changed(){
      var v = $('#employee_info_roles_field > input[type=checkbox]:checked').map(function(){return $(this).val();}).get().join('');
      $('#employee_info_roles').val(v);
    }
  </script>
<% end %>
<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= form_for( @search, :url => admin_employee_infos_path ) do |f| %>
      <%= f.select :company_id_eq, Company.all.map { |c| [c.short_name, c.id] }.insert(0, ['All Company', nil]), {}, :class => 'data-field', :onchange => 'this.form.submit()'  %>
      <%= f.select :status_eq, [['All Status', nil],['active', 1], ['leaved', 0]],{}, :class => 'data-field', :onchange => 'this.form.submit()' %>
      <%= f.text_field :nickname_contains, :size => 15, :class => 'data-field' %>
      <%= button 'search' %>
      <% end %>
    </li>
    <li>
    <%= button_link_to 'Add Employee', new_admin_employee_info_path, {:remote => true, :icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<div id="edit_div" class='dialog-normal'></div>

<%= will_paginate(@collection) %>
<table class="data-list" id='list_employee_infos'>
  <thead>
  <tr>
      <th><%= t("id") %></th>
      <th><%= t("Company") %></th>
      <th><%= t("name") %></th>
      <th><%= t('employ_date')%></th>
      <th><%= t('ssn') %></th>
      <th><%= t('birthday') %></th>
      <th><%= t('locked_at') %></th>
      <th>op</th>
  </tr>
  </thead>
  <tbody>
<% @collection.each do |e| %>
  <%= render :partial => 'row', :locals => {:obj => e} %>
<% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>


