
<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= form_for( @search, :url => admin_employees_path ) do |f| %>
      <%= f.select :agent_id_eq, Agent.all.map { |c| [c.short_name, c.id] }.insert(0, ['All Company', nil]), {}, :class => 'data-field', :onchange => 'this.form.submit()'  %>
      <%= f.select :locked_at_eq, [['All Status', nil],['active', 1], ['leaved', 0]],{}, :class => 'data-field', :onchange => 'this.form.submit()' %>
      <%= f.text_field :nickname_contains, :size => 15, :class => 'data-field' %>
      <%= button 'search' %>
      <% end %>
    </li>
    <li>
    <%= button_link_to 'Add Employee', new_admin_employee_path, {:remote => true, :icon => 'add', :id => 'admin_new_employee'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= raw "#{t('actions.listing')} #{t('photos')}" %></h1>

<div id="edit_div" class='dialog-normal'></div>

<table class="data-list" id='list_employees'>
  <thead>
  <tr>
      <th><%= t("id") %></th>
      <th><%= t("agent") %></th>
      <th><%= t("name") %></th>
      <th><%= t('employ_date')%></th>
      <th><%= t('ssn') %></th>
      <th><%= t('birthday') %></th>
      <th><%= t('locked_at') %></th>
      <th>op</th>
  </tr>
  </thead>
  <tbody>
<% @collection.each do |e| %>
  <%= render :partial => 'row', :locals => {:obj => e} %>
<% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>


