  <div class="yui-g">
  	<div class='yui-u first'>
  	<p>
  	<%= label_tag :company_id %>
  	<%= @object.company_id %>
  	</p>
  	<p>
  		<%= label_tag :nickname %>
  		<%= @object.nickname %>
  	</p>
  	<p>
  		<%= label_tag :employ_date %>
  		<%= @object.employ_date %>
  	</p>
	  </div>
	  <div class='yui-u'>
	  <p>
	  	<%= label_tag :ssn %>
	  	<%= @object.ssn %>
	  </p>
	  <p>
	  	<%= label_tag :birthday %>
	  	<%= @object.birthday %>
	  </p>
	  <p>
	  	<%= label_tag :status %>
	  	<%= @object.status %>
	  </p>
	 	</div>
	</div>

