<div class='toolbar'>
  <ul class='actions'>
    <li>
    <%= button_link_to 'Add Input Type', new_admin_input_type_path, {:remote => true, :icon => 'add', :id => 'admin_new_input_type'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= raw "#{t("actions.listing")} #{t("input_types")}" %></h1>
<div id='edit_div' class='dialog-normal'></div>
<table id='list_input_types' class="data-list">
  <thead>
    <tr>
        <th><%= t("id") %></th>
        <th><%= t("type_name") %></th>
        <th><%= t("type_text") %></th>
        <th><%= t('type_value') %></th>
        <th>status</th>
        <th><%= t('created_at') %></th>
        <th><%= t('updated_at') %></th>
        <th><%= t('op') %></th>
    </tr>
  </thead>
<% @collection.each do |c| %>
  <%= render :partial => 'row', :locals => {:obj => c} %>
<% end %>
</table>
<%= will_paginate(@collection) %>

