<% @object.build_order_detail if !@object.order_detail %>
<%= form_for([:admin, @object], :remote => true) do |f| %>
  <div class="container">
    <div class='span-8'>
      <fieldset>
        <legend>Tour Schedule</legend>
    <%= f.hidden_field :schedule_id %>
    <%= f.hidden_field :schedule_assignment_id %>
    <%= f.hidden_field :seats %>
    <div id='div_schedule_title'>
      <%= render 'schedule_title', :schedule => @object.schedule %>
    </div>
    <%= button_link_to 'Select Schdule', '/admin/schedules/select?page=order', {:icon => 'add', :remote => true} %>
        </fieldset>
        <fieldset>
          <legend>Detail</legend>
          <%= f.fields_for :order_detail do |detail| %>
            Customer id: (<%= link_to 'Change Customer', '/admin/user_infos/select?id=' + (@object.order_detail.user_info ? @object.order_detail.user_info.id.to_s : '0'), {'data-remote' => true} %>) <br />
            <%= detail.text_field :user_info_id, :readonly => true %><br />
            Full name:<br />
            <%= detail.text_field :full_name, :readonly => true %><br />
            Telephone:<br />
            <%= detail.text_field :telephone, :readonly => true %><br />
            Email:<br />
            <%= detail.text_field :email, :readonly => true %><br />
            Bill address:<br />
            <%= detail.text_field :bill_address, :readonly => true %><br />

            
            Pickup: <br />
            <%= detail.text_field :pickup %><br />
      </p>
    <% end %>
  </fieldset>
    </div>
    <div class='span-8 last'>
      <fieldset>
        <legend>Rooms</legend>
      <table id='rooms' border='1' padding='2'>
        <thead>
          <tr>
            <th>Room</th>
            <th>Adult</th>
            <th>Child</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :order_items do |item| %>
            <%= render 'form_room', :f => item %>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to "Add room", 'javascript:add_room();' %></p>
    </fieldset>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
