    <tr>
        <td><%= link_to obj.order_number, admin_order_path(obj) %></td>
        <td><%= obj.order_customer.full_name if obj.order_customer %></td>
        <td><%= obj.order_source.title if obj.order_source %></td>
        <td><%= obj.created_at %></td>
        <td><%= t("order_state.#{obj.state}") %></td>
      <td class='actions'>
          <%= link_to_edit_url edit_admin_order_path(obj), :title => "admin_edit_#{dom_id(obj)}", :remote => true %>
      </td>
    </tr>