<div class='container'>
  <div class='span-12'>
    <fieldset>
      <legend>Customer</legend>
      <% if @object.order_detail && @object.order_detail.user_info %>
      <table class='compact' style='width:auto;'>
        <tr>
          <td>Full name:</td>
          <td><%= @object.order_detail.user_info.full_name %></td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td><%= @object.order_detail.user_info.telephones.first %></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%= @object.order_detail.user_info.emails.first %></td>
        </tr>
        <tr>
          <td>Address:</td>
          <td><%= @object.order_detail.user_info.addresses.first %></td>
        </tr>
      </table>
      <% end %>
    </fieldset>
    <fieldset>
      <legend>Payment</legend>
      <table class='border-table'>
        <thead>
          <tr>
            <td>Method</td>
            <td>before</td>
            <td>Amount</td> 
            <td>after</td> 
            <td>operator</td>
            <td>Date</td>
            <td>Op</td>
          </tr>
        </thead>
        <tbody>
          <% @object.payments.each do |p| %>
          <tr>
            <td><%= p.method_type %></td>
            <td><%= p.balance_before %></td>
            <td><%= p.amount %></td>
            <td><%= p.current_balance %></td>
            <td><%= p.operator_id %></td>
            <td><%= p.updated_at %></td>
            <td>view</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        <%= button_link_to 'Payment', new_admin_payment_path(:order_id => @object.id), {:remote => true, :icon => 'add' }%>
      </p>
    </fieldset>
  </div>
  <div class='span-12 last'>
    <fieldset>
      <legend>Order</legend>
      <table class='compact' style='width:auto;'>
        <tr>
          <td>Order ID:</td>
          <td><div class='barcode'><%= @object.order_number %></div></td>
        </tr>
        <% if @object.schedule %>
        <tr>
          <td>Tour: </td>
          <td><%= @object.schedule.tour.description.title %><br />
            <%= @object.schedule.tour.description.title_cn %></td>
        </tr>
        <tr>
          <td>Schedule:</td>
          <td><%= link_to @object.schedule %></td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>
            <%= @object.schedule.departure_date.strftime("%Y-%m-%d") %> ~ 
            <%= @object.schedule.return_date.strftime("%Y-%m-%d") %>
          </td>
        </tr>
      <% end %>
      </table>
    </fieldset>

    <fieldset>
      <legend>Detail</legend>
    <table class='border-table'>
      <thead>
        <tr>
          <th>Room</th>
          <th>Adult</th>
          <th>Child</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
    <% @object.order_items.each_with_index do |item, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= item.num_adult %></td>
        <td><%= item.num_child %></td>
        <td class='align-right'><%= item.amount %></td>
      </tr>
    <% end %>
    <% if @object.order_price %>
      <tr>
        <td class='align-right'>Total:</td>
        <td colspan='2' class='align-right'><%= @object.order_price.num_total %> person</td>
        <td class='align-right'><%= @object.order_price.total_amount %></td>
      </tr>
      <tr>
        <td colspan='3' class='align-right'>Adjustment amount:</td>
        <td class='align-right'><%= @object.order_price.adjustment_amount %></td>
      </tr>
      <tr>
        <td colspan='3' class='align-right'>Actual Amount:</td>
        <td class='align-right'><%= @object.order_price.actual_amount %></td>
      </tr>
      <tr>
        <td colspan='3' class='align-right'>Balance:</td>
        <td class='align-right'><%= @object.order_price.balance_amount %></td>
      </td>
    <% end %> 
      </tbody>
    </table>
      <p>Order method: <%= @object.order_method %></p>
      <p>Created at: <%= @object.created_at %></p>
      <p>Updated at: <%= @object.updated_at %></p>
      <p>Completed at: <%= @object.completed_at %></p>
      <p>Status: <%= @object.status %></p>
    </fieldset>
  </div>
</div>


