<div class='order'>
  <div class='order-head'>
    <div class='schedule-head'>

      <% if @object.schedule %>
        <%= @object.schedule.tour.title %><br />
        <%= @object.schedule.tour.title_cn %><br />

        <div class="s-date">
          出發: <b><%= @object.schedule.departure_date.strftime("%Y-%m-%d") %></b><br />
          返回: <b><%= @object.schedule.return_date.strftime("%Y-%m-%d") %></b>
        </div>
      <% end %>
    </div>
    <div class='client-head'>
      <% if @object.order_customer %>
        <p>Client: <%= @object.order_customer.full_name %></p>
        <% if @object.order_customer.user_info %>
          <p>login name: <%= @object.order_customer.user_info.login_name %></p>
        <% end %>
      <% end %>
    </div>
    <div class='order-brief'>
      <p>Order method: <%= @object.order_method %></p>
      <p>Created at: <%= @object.created_at %></p>
      <p>Updated at: <%= @object.updated_at %></p>
      <p>Completed at: <%= @object.completed_at %></p>
      <p>Status: <%= @object.status %></p>
    </div>
  </div>
  <div class='order-items'>
    <% if @object.order_price %>
      <p>Rooms: <%= @object.order_price.num_rooms %></p>
      <p>Num total: <%= @object.order_price.num_total %></p>
      <p>Amount: <%= @object.order_price.total_amount %></p>
      <p>adjustment_amount: <%= @object.order_price.adjustment_amount %></p>
      <p>Actual amount: <%= @object.order_price.actual_amount %></p>
      <p>Balance: <%= @object.order_price.balance_amount %></p>
      <p>Last updated:<%= @object.order_price.updated_at %></p>
    <% end %> 
    <table>
      <thead>
        <tr>
          <th>room</th>
          <th>Adult</th>
          <th>Child</th>
          <th>total</th>
          <th>amount</th>
        </tr>
      </thead>
      <tbody>
    <% @object.order_items.each do |item| %>
      <tr>
        <td>room</td>
        <td>adult: <%= item.num_adult %></td>
        <td>child: <%= item.num_child %></td>
        <td>total: <%= item.num_total %></td>
        <td>amount: <%= item.amount %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
  <div class='operation-log'>
  </div>
  <div class='payment-list'>
  </div>
  <div class='order-foot'>
  </div>
</div>
