<div class='toolbar'>
  <ul class='actions'>
    <li>
    <%= button_link_to 'Add Tour type', new_admin_tour_type_path, {:remote => true, :icon => 'add', :id => 'admin_new_tour_type'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= raw "#{t("actions.listing")} #{t("tour_types")}" %></h1>
<div id='edit_div' class='dialog-normal'></div>
<table id='list_tour_types' class="data-list">
  <thead>
    <tr>
        <th><%= t("id") %></th>
        <th><%= t("name") %></th>
        <th><%= t('status') %></th>
        <th><%= t('op') %></th>
    </tr>
  </thead>
<% @collection.each do |c| %>
  <%= render :partial => 'row', :locals => {:obj => c} %>
<% end %>
</table>
<%= will_paginate(@collection) %>

