<div class='spot' id="<%= dom_id sp %>">
	<%= image_tag sp.destination.photo.photo_t if sp.destination && sp.destination.photo %>
	<div class='spot-title'>
		<h2>
			<%= sp.visit_order %> of Day <%= sp.visit_day %>:
			<%= sp.destination.title + ', ' + sp.destination.title_cn if sp.destination %>
		</h2>
		<div class='buttons'>
			<%= link_to '<-- Use this image as tour icon.',"spots/#{sp.id}", :remote => true %><br />
			<%= link_to 'Edit', "spots/#{sp.id}/edit", :remote => true, :class => 'edit_button'   %>
		</div>
	</div>
	<div class='clear'></div>
	<% if sp.description %>
	<div class='spot-en'>
		<%= raw sp.description.en %>
	</div>
	<div class='spot-cn'>
		<%= raw sp.description.cn %>
	</div>
	<% end %>
	<div class='clear'></div>
</div> 