<% 
  css = ''
  if i > assignment.total_seats
    css = 'unav'
  elsif seat
    if seat.order
      css = 'sold'
    else
      css = 'hold'
    end
  else
    css = 'blnk'
  end
%>
<td id='seat_<%= i %>' class='seat <%= css %>'>
    <div class="seat-check">
      <% unless css == 'unav' %>
        <input type="checkbox" name="seats[<%= i %>]" id="cb_<%= i %>" <%= "hold_id=#{seat.order_id}" if seat && seat.state == 'hold' %>>
        <label for="cb_<%= i %>"><%= i %></label>
      <% end %>
    </div>
    <div class="seat-pickup">
      <% if seat %>
        <% if seat.order %>
          <%= seat.order.order_detail.pickup %>
        <% else %>
          <%= seat.message %>
        <% end %>
      <% end %>
    </div>
    <div class="seat-info">
      <% if seat %>
        <% if seat.order %>
          <%= link_to seat.order.id, edit_admin_order_path(seat.order), :remote => true %>
          (<%= seat.order.order_price.num_total %>p)
          <br />
          <% if seat.order.order_detail %>
            <%= seat.order.order_detail.full_name %><br />
            <%= number_to_phone(seat.order.order_detail.telephone) %>
          <% end %>
        <% else %>
           <% if seat.state == 'hold' %>
             <%= link_to 'check', "javascript:check_hold(#{seat.order_id})" %><br />
           <% end %>
           <%= seat.customer_name %><br />
           <%= number_to_phone(seat.telephone) %>
        <% end %>
      <% end %>
      &nbsp;
    </div>
</td>
