<%
  schedule = Schedule.find(params[:schedule_id])
  assignment = ScheduleAssignment.find(params[:schedule_assignment_id])

  total_seats = assignment.total_seats
  seats_per_row = 4
  passangeway = 2
  total_rows = (total_seats + seats_per_row - 1) / seats_per_row

  i = 1
%>
<div id="tabs-<%= assignment.id %>">

	<p>
		Bus: <%= assignment.bus.name if assignment.bus %>
		Driver: <%= assignment.driver.nickname if assignment.driver %> / 
		<%= assignment.driver_assistance.nickname if assignment.driver_assistance %>
		Tour guide: <%= assignment.tour_guide.nickname if assignment.tour_guide %> / 
		<%= assignment.tour_guide_assistance.nickname if assignment.tour_guide_assistance %>
    |
    <%= link_button 'Edit', edit_admin_schedule_schedule_assignment_path(schedule, assignment), {:remote => true, :ui_icon => 'ui-icon-pencil'} %>
	</p>
	
	<table width="380" cellspacing="0" cellpadding="4" border="0" style="border: solid 1px darkgreen; width:auto;">
	  <tbody><tr class="diagram-exp">
	    <td nowrap="nowrap" align="center" class="edit_en">圖示:(<a href="ScheduleOrders.aspx">相关订单</a>)</td>
	    <td nowrap="nowrap" align="center" class="edit_en"><div class="block blnk">&nbsp;</div> Avilible</td>
	    <td nowrap="nowrap" align="center" class="edit_en"><div class="block hold">&nbsp;</div> Hold</td>
	    <td nowrap="nowrap" align="center" class="edit_en"><div class="block sold">&nbsp;</div> Sold balance</td>
	    <td nowrap="nowrap" align="center" class="edit_en"><div class="block paid">&nbsp;</div> Full pay</td>
	  </tr>
	</tbody></table>
	
	<div class='seat-table'>
    <%= form_for assignment, :url => seats_admin_schedule_schedule_assignment_path(assignment.schedule_id, assignment), :remote => true do |f| %>
      <table class='seat-table'>
        <thead>
          <tr>
            <% seats_per_row.times do |cnt| %>
              <td width='25%'></td>
            <% end %>
          </tr>
        </thead>
        <tbody> 
          <% i = 1 %>
          <% total_rows.times do %>
            <tr>
              <% seats_per_row.times do |cnt| %>
                <%= render :partial => 'seat', :locals => {:i => i, :assignment => assignment}%>
                <% i += 1 %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <input type='hidden' value='' name='message1' />
      <input type='hidden' value='' name='operate' />
      <%= f.submit 'submit' %>
  <% end %>
	</div>
</div>
		

