<%= content_for :breadcrumbs do %>
  Data &gt;
  Schedules
<% end %>
<div class='toolbar'>
  <ul class="actions">
    <li>
    <%= form_for(@search, :url => admin_schedules_path) do |f| %>
      Departure from: <%= f.text_field :departure_date_greater_than_or_equal_to, :size => 8, :class => 'date-picker' %> 
      to: <%= f.text_field :departure_date_less_than_or_equal_to, :size => 8, :class => 'date-picker' %>
      <%= button 'Search' %>
    <% end %>  
    </li>
    <li>
    <%= button_link_to "Generate schedules", 'schedules/generate', { :icon => 'add', :id => 'generate_schedule'} %>
    </li>

  </ul>
  <br class='clear' />
</div>

<div id="edit_div"></div>

<%= will_paginate(@collection) %>
<table class="data-list" id='list_schedules'>
  <thead>
  <tr>
      <th><%= t("schedule_id") %></th>
      <th><%= t("tour") %></th>
      <th><%= t("days") %></th>
      <th>Price</th>
      <th>Departure</th>
      <th>Tour Guide</th>
      <th>Driver</th>
      <th>Status</th>
  </tr>
</thead>
<tbody>
<% @collection.each do |s| %>
	<%= render :partial => 'row', :locals => {:obj => s} %>
<% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>

