<tr id="<%= dom_id obj%>">
  <td><%= obj.id %></td>
  <td><%= obj.email_address %></td>
  <td><%= obj.email_data_type %></td>
  <td><%= obj.email_data_id %></td>
  <td><%= obj.created_at %></td>
  <td><%= obj.updated_at %></td>
  <td>
    <%= link_to_edit obj %> 
  </td>
</tr>

