<%= content_for :head do %>
	
	<%= stylesheet_link_tag 'flickr/fleeckr', 'flickr/colorbox' %>
	<%= javascript_include_tag 'flickr/jquery.fleeckr', 'flickr/jquery.colorbox-min' %>

<% if @destination.photo && @destination.photo.photoset %>
<script type="text/javascript"> 
$(function(){
	$("#flickr").jfleeckr({
		apikey: '1e45d3cbe81db329e29dbbf8c966540b',
		extra: 'photoset_id=<%= @destination.photo.photoset %>',
		method: 'flickr.photosets.getPhotos'
	}, function(data){
		$('#flickr a').colorbox({transition:"fade", width:"100%", height:"80%"});
	});
});
</script>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
    <li><a href="/home/index">Home</a></li>
    <li>&raquo;</li>
    <li><a href="/destinations">Destinations</a></li>
    <li>&raquo;</li>
    <li><%= @destination.title %></li>
<% end %>



<%= render 'related_tours' %>
<h2><%= @destination.title %></h2>
<div id="photo_dest">
	<%= image_tag @destination.photo.photo_t if @destination.photo %>
	<div id="photo_primary" style="width:240px;height:180px;margin-right:16px;padding:3px;float:left;"></div>
	<div style="font-size:1em;line-height: 1.62;margin-bottom:12px;">
		<%=h @destination.description.en if @destination.description %>
	</div>
	<div class="clear"></div>
</div>

<h2>Photo Gallery</h2>

	<div id="flickr"></div> 

