<div class='toolbar'>
  <ul class='actions'>
    <li>
    <%= button_link_to 'Add Agent', new_admin_agent_path, {:remote => true, :icon => 'add', :id => 'admin_new_agent'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= raw "#{t("actions.listing")} #{t("agents")}" %></h1>
<div id='edit_div' class='dialog-normal'></div>
<table id='list_agents' class="data-list">
  <thead>
    <tr>
        <th><%= t("id") %></th>
        <th><%= t("short_name") %></th>
        <th><%= t("company_name") %></th>
        <th><%= t('company_type') %></th>
        <th><%= t('icon') %></th>
        <th><%= t('website') %></th>
        <th><%= t('status') %></th>
        <th>op</th>
      <th>
      </th>
    </tr>
  </thead>
<% @collection.each do |c| %>
  <%= render :partial => 'row', :locals => {:obj => c} %>
<% end %>
</table>
<%= will_paginate(@collection) %>

