<%= form_for([:admin, Schedule.find(params[:schedule_id]), @object], :remote => true) do |f| %>
  <div class='container'>
    <div class='span-8'>
      <% if params[:schedule_id] %>
        <%= f.hidden_field :schedule_id, :value => params[:schedule_id] %>
      <% end %>
      <%= f.field_container :bus do %>
        <%= f.label :bus %><br />
        <%= f.select(:bus_id, Bus.where(:status => 1).collect{|d| [d.name, d.id]}, {:include_blank => true}) %>  	
      <% end %>
      <%= render :partial => 'admin/shared/select_employee', :locals => {:f => f, :field_name => :driver_id} %>
      <%= render :partial => 'admin/shared/select_employee', :locals => {:f => f, :field_name => :driver_assistance_id} %>
    </div>
    <div class='span-8 last'>
      <%= render :partial => 'admin/shared/select_employee', :locals => {:f => f, :field_name => :tour_guide_id} %>
      <%= render :partial => 'admin/shared/select_employee', :locals => {:f => f, :field_name => :tour_guide_assistance_id} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
