<%= form_for([:admin, @object], :remote => true) do |f| %>
    <%= f.hidden_field :schedule_id, :value => params[:schedule_id] %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :bus %>
		<%= f.text_field :bus_id %>
		<%= f.label :driver %>
		<%= f.text_field :driver_id %>
		<%= f.label :driver_assistance %>
		<%= f.text_field :driver_assistance_id %>
		<%= f.label :tour_guide %>
		<%= f.text_field :tour_guide_id %>
		<%= f.label :tour_guide_assistance %>
		<%= f.text_field :tour_guide_assistance_id %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
