<%= f.fields_for :description do |desc| %>
	<div class="container">
		<div class="span-8">
	  <%= f.field_container :title do %>
	    <%= desc.label :title %><br />
	    <%= desc.text_field :title %>
	  <% end %>
  	</div>
  	<div class="span-8 last">
	  <%= f.field_container :title_cn do %>
	    <%= desc.label :title_cn %><br />
	    <%= desc.text_field :title_cn %>
	  <% end %>
  	</div>
  </div>
  <div class="container">
    <div class="span-8">
      <%= f.field_container :en do %>
        <%= desc.label :en %><br />
        <%= desc.text_area :en, :style => 'width: 98%', :class => 'html-editor' %>
      <% end %>
    </div>
    <div class="span-8 last">
      <%= f.field_container :cn do %>
        <%= desc.label :cn %><br />
        <%= desc.text_area :cn, :style => 'width: 98%', :class => 'html-editor' %>
      <% end %>
    </div>
  </div>
<% end %>


