<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>omei-admin</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'blueprint/print', 'media' => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->  

  <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
  <%= stylesheet_link_tag "login" %>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

  <div id='page_container'>
    <div id='page_head'>
      <%= image_tag 'ae_logo.png', :class => 'logo' %>
    </div>

    <div id='page_main'>
      <div class='contents'>
        <div class='login-div'>
    <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div id='page_foot'>
    </div>
  </div>
</body>
</html>
